/* Ogólne style */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 200px 1fr;
    height: auto; /* Zmiana na auto, aby strona była przewijalna */
}

.header {
    grid-column: span 2;
    background-color: #333;
    color: white;
    padding: 2px;
    text-align: center;
	font-size: 1rem; /* Opcjonalne zmniejszenie rozmiaru tekstu dla większej kompaktowości */
	position: static; /* Wymuszenie normalnej pozycji w przepływie dokumentu */
}

.sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
	height: 100vh; /* Wysokość dostosowana do całego ekranu */
    overflow-y: auto;
}

.main-content {
    padding: 20px;
    overflow-y: auto;
}

.character-content {
    display: none;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.character-content.active {
    display: block;
}

.subtab-content {
    display: none;
}

.subtab-content.active {
    display: block;
}

button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #16a085;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.tooltip {
    position: absolute;
    padding: 8px;
    background-color: #444;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
}

/* Stylizacja zespołów */
.team-list {
    margin: 0;
    padding: 0;
}

.team {
    margin-bottom: 20px;
}

.team h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.team-container {
    display: flex;
    justify-content: space-between; /* Równanie elementów w poziomie */
    gap: 20px; /* Odstęp między kolumnami */
    flex-wrap: wrap; /* Przenoszenie elementów do następnego wiersza, jeśli nie mieszczą się w jednym */
}

.team-role {
    flex: 1; /* Sprawia, że każda kolumna zajmuje równą ilość miejsca */
    text-align: center; /* Wyśrodkowanie tekstu */
}

.team-role img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-bottom: 5px;
}

.team-comment {
    font-size: 14px;
    color: #666;
}

/* Stylizacja dla posiadanych postaci */
.team-role p[data-character].owned {
    color: green;
    font-weight: bold;
}
